{{> header }}
<article class="about">

<h1>What's this?</h1>

<p>
    This is a collection of ideas, patterns, tricks et c for <a href="http://hyperapp.js.org">Hyperapp</a>.
    It's just personal musings, by no means  "official" or "best practice" (in fact ... probably the opposite).
</p>

<p>
    I welcome feedback and arguments, and especially ideas for future posts. (I give full credit to ideas not my own) 
    You can find me as @zaceno on twitter (which I never use) or on the <a href="https://hyperappjs.herokuapp.com">Hyperapp Slack</a>
</p>

</article>
{{> footer }}