{{> header }}
    <ul class="index">
    {{#each articles }}
      <li>
        <div class="date">{{ date }}</div>
        <div class="title"><a href="{{ path }}">{{ title }}</a></div>
        <div class="blurb">{{ blurb }}</div>
      </li>
    {{/each}}
    </ul>
{{> footer }}