{{> header }}
    <ul class="index">
    {{#each articles }}
      <li>
        <a href="{{ path }}">
          <div class="date">{{ date }}</div>
          <div class="title">{{ title }}</div>
          <div class="blurb">{{ blurb }}</div>
        </a>
      </li>
    {{/each}}
    </ul>
{{> footer }}